<manifest xmlns:android="http://schemas.android.com/apk/res/android">


    <application
        android:name=".application.AppClass"
        android:icon="@mipmap/ic_launcher">
<!-- Enable is line to use the Mock API -->
<!-- android:networkSecurityConfig="@xml/network_security_config"> -->

    <uses-library
        android:name="com.google.android.wearable"
        android:required="true" />

    <meta-data
        android:name="firebase_crashlytics_collection_enabled"
        android:value="false" />

    </application>

</manifest>